#root {
  /* max-width: 1280px; */
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
 text-align: center;
 padding: 0px  0rem;
}

@media (max-width: 500px) {
  #root {
    width: 100%;
    padding: 0.1rem;
  }
}

@media (max-width: 1000px) {
  #root {
    width:90%;
  }
}

