#root {
  /* max-width: 1280px; */
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
 text-align: center;
 padding: 0px  0rem;
}

@media (max-width: 600px) {
  #root {
    width: 100%;
    padding: 0.1rem;
  }
  .stopqp{
   display:flex;

   flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 960px) {
  #root {
    width:100%;
  }
}
body{
  margin: 0 auto;
}

