:root {
  font-family:opensans;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-header {
  background: white;
  width: 100%;
  min-height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

.disclaimer{
  text-align: start;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
  scroll-behavior: smooth;
}

header{
    justify-content: space-around;
     padding: 0 0rem;
}


nav li:hover {
  border-bottom: 3px solid #AF47C2;
 
}

.blue{
  
  text-align: center;
  display: flex;
  align-items: center;
  background: #0066FF;
  border-radius: 20px;
  color: white;
  padding: 2rem;
  margin: 0 auto;
  height: fit-content;
}
.stopqp{
  display: flex;

  align-items: center;
}


.but{
  
   margin-top: 2rem;
  padding: 0rem 1rem;
  font-size: 18px;
  background-color: green;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cta-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 18px;
  font-weight: 500;
 
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.wc {
  max-width: 300px;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  background: white;
 
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}


img{
  width: 100%;
  max-width: 27rem;
  height: auto;
  display: block;
  margin: 0 auto;
  /* margin-left:4rem; */
  transition: filter .5s;
  border-radius: 20px ;
}
.fa-whatsapp{
  color:white;
  font-size: 20px;
  margin-left: 5px;
}
.fa-lock{
  color:#435D9C;
  font-size: 20px;
  margin-right: 8px;
}
.fa-person{
  color:teal;
  font-size: 20px;
  margin-right: 8px;
}
/* button{
   background: #28a745;
   color: white;
   border: none;
   padding: 10px 20px;
   font-size: 16px;
   border-radius: 5px;
   cursor: pointer;
   transition: background 0.3s ease;
} */
button:hover{
   background: white;
    color: black;
    .fa-whatsapp{
      color: #001F3F;
    }
    .click{
  color: #001F3F;
}
.fa-arrow-right{
  color: #001F3F;
}
}


a{
  text-decoration: none;
  color: black
  
}
.fa-circle-check{
  color:green;
  font-size: 22px;
  margin-right: 8px;
}

.imgs{
 width: 10rem;
 height: 10rem;
 border-radius: 50%;
 border: 1.2px solid #cccc;
 margin: 0px;
}

.line {
  margin-bottom:116px;              
  width: 180px;           
  height: 2px;
  background: #ccc;
  
}

.hover:hover{
  color: blue;
  cursor: pointer;
}

.pic{
  width:10rem;
  align-items: center;
}

.ls{
  font-size: 20px;
  color: #001F3F;
  padding: 20px;
  border-bottom: 1px solid black;
}

.sslp{
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0.5rem;

}

footer{
  padding:"1rem"
}

.nav{
    display: flex;
  gap: 30px;
  font-size: 20px;
  font-weight: 500;
}

.ul{
  list-style: none;
  display: flex;         
  gap: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 20px;
  align-items: center;
}

#contact{
  padding: 1rem;
  color: black;
  margin: 1rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F2F2F2;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 1rem;
}


.hamburger {
  display: none;
  font-size: 25px;
  cursor: pointer;
  margin-right: 1rem;
}

.os {
  width: 70%;
  margin: 30px auto;
  margin-top: 6rem;
  color: black;
}
.stopQ{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */


  /* @media (min-width: 1200px) {
 img {
    max-width:100%;
  }
}   */
  @media (max-width: 960px) {
    img{
      width: 15rem;
      height: auto;
      margin: 1rem;
     
      
    }

    footer{
      padding: 2rem;
    }
    .body{
      padding:50px;
    }

    .h1{
      font-size: 26px;
  margin-top: 1rem;
      
 
    }
    .h3{
      font-size: 17px;
      margin-top: 3rem;
    }
    .para{
      font-size: 14px;
      margin-top: 1rem;
    }

    .but{
      font-size: 18px;
      padding: 0.5rem 0.8rem;
    }
    .stopqp{
      
      align-items: center;
    }
 .blue{
  padding: 1rem;
  
  
 }
 } 
 body{
  width: 90%;
 }

 .live-ups{

  padding: 10px;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 13.5px;
  color: red;
  animation: colorBlink 2s infinite;

 }
 .blink-color {
  color: red; /* base color */
  animation: colorBlink 0.001s infinite;
}

@keyframes colorBlink {
  0%   { color: rgb(255, 55, 0); text-shadow: none; }
  /* 50%  { color: yello; text-shadow: 0 0 10px; } */
  100% { color: red; text-shadow: 0 0 2px; }
}

.popUp{
  width: 40rem;
  text-align: left;
  color: black;
  border: #88778D 1px solid;
  padding: 2rem;
  border-radius: 10px;
}

.parentpop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


  /* @media (max-width:600px){

    body{
      width: 100%;
    }
    .hamburger {
      display: block;

    }

  img{
    width: 100%;
    height: auto;
    max-width: 18rem;
    margin: 1rem auto;
   
  }

    .nav {
    display: none;    
    position: absolute;            
    top: 5rem;
    right: 1rem;
    background: white;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    
  }

   .nav.open {
    display: flex;                
  }

  .ul {
    flex-direction: column;      
    gap: 1rem;
    font-size: 18px;
  }

  .h1{
    font-size: 24px;
    line-height: 1.3;
  }
  .h3{
    font-size: 16.5px;
    margin-top: 3rem;
    padding: 0rem 1rem;
  }
  .para{
    font-size: 14px;
    margin-top: 1rem;
  }

  .blue{
    width: 100%;
     max-width:none;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #000;

  }

  .but{
    font-size: 14px;
    padding: 0.5rem 0.8rem;
    margin: 0px;
  }
  .imgs{
    width: 90px;
    height: 90px;
  }
  .line{
   display: flex;
   justify-content: center;
   align-items: center;
    width: 100%;
    max-width: 11rem;
    
  }
  .picp{
    // margin: rem;
    // align-items: center; 
    margin:0px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  // .hiw{
   // width: 90%;
  //} 

  .con{
    font-size: 16px;
  }
  .pcon{
    font-size: 12px;
  }
  .imh3{
    margin-bottom: 15px;
  }

  .title{
    font-size: 15px;
  }
  .list{
    font-size: 12px;
  }
  .ls{
    font-size: 15px;
  }
  .ssl{
    font-size: 13px;
  }
  .sslp{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .nf{
    font-size: 13px;
  }

  .ai{
    font-size: 12px;
  }

  .num{
    font-size: 12px;
  }

  footer{
    margin: 0px;
    padding:0px 2rem;
  }
  .why{
    font-size: 1.2rem;
    
  }

  .p{
    font-size: 13px;
  }
  .stopqp{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }

  .nfds{
    font-size: 8px;
  }
  .os{
    margin: 0px auto;
    
  
  }
     #contact{
      width: 90%;
      margin: 0px auto;
      padding: 0rem;
    }
  } */


   .main-header {
  background: white;
  width: 100%;
  min-height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

@media (max-width:600px) {

 .hiw{ flex-direction: column; gap: 2rem; } span{ font-size: 1rem; } h1{ font-size: 1rem; margin: 0px; align-items: center; margin-bottom: 1.5rem; } .line{ width: 2px; height: 40px; background: #ccc; margin: 0 auto; } .picp, #contact{ } .disclaimer{ font-size: 12px; } .blue{ background: #0066FF; } .why{ width: 100%; text-align: center; } .sslp{ font-size: 10px; } .nf{ font-size: .7rem; } .ai{ font-size: .7rem; } .title{ font-size: 1rem; } .picp{ } .imgs{ width: 4rem; height: 4rem; } .pic{ margin: 0px; display: flex; flex-direction: column; justify-content: center; align-items: center; } .line{ height: 50px; } header{ align-items: center; }
  .hamburger { margin: 0; display: block; font-size: 28px; cursor: pointer; color: #001F3F;} 
  .nav { position: absolute; top: 6rem; right: 0; width: 40%; box-shadow: inset 0 0 10px rgba(102, 102, 102, 0.1); border-radius: 10px; background: white; justify-content: center; transform: translateY(-20px); opacity: 0; pointer-events: none; transition: all 0.3s ease-in-out; } .nav.open { transform: translateY(0); opacity: 1; pointer-events: auto! important ;} .ul { flex-direction : column ; padding :15px ;} 
.ul li { padding :12px ; border-bottom : solid #eee ;} 
.nfds {font-size :.7rem ; display:flex ; flex-direction :column ; align-items:center ;color: black;} 
.cta-btn {font-size :12px ;} 
.but {padding :5px ; border-radius :15px ; width :9rem ;} 
.fa-arrow-right {display:none ;} 
.os {margin-top :.5rem ;} 
.popUp {width :23rem ;}}